@page "/"
@inject HttpClient http; 

<h1>Calling API</h1>

<button class="btn btn-success" @onclick="@GetBooks">Get Books List</button>



    <thead>
        <tr>
            <th>Books id</th>
            <th>Tile</th>
            <th>Author</th>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var books in @books)
        { 
        <tr>
            <td>@books.BookId</td>
            <td>@books.Title</td>
            <td>@books.Author</td>
            <td>@books.Pages</td>
        </tr>
        }
    </tbody>

</table>

@code {

    List<Books> books = new List<Books>();

    private async Task GetBooks()
    {

        books = await http.GetjsonAsync<List<Books>>("https://localhost:44305/api/books");


    }

    public class Books
    {

        public int BookId { get; set; } = 0;
        public string Title { get; set; } = "";
        public string Author { get; set; } ="";
        public int Pages { get; set; } = 0;


    }

}
